{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2rMDRoAbi4CXfxOhDDEStW9rtSTjDoAl2hg&usqp=CAU" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Youtube Video Downloader</title>
</head>

<body>
    <div class="container-fluid">
        {% block content %} {% endblock %}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
